{% extends 'exercises/quantifiers/quantifiers.html' %}
{% block 'form' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="C1/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Username:</label> <br />
        <input type="text" name="username" />
    </div>
    <div class="form-group">
        <label>Do you have (a/an) piece of advice for me?:</label> <br />
        <input type="text" name="question_1" />
    </div>
    <div class="form-group">
        <label>Does (each/every) teacher own a book?:</label> <br />
        <input type="text" name="question_2" />
    </div>
    <div class="form-group">
        <label>There is a train (each/every) 2 hrs.:</label> <br />
        <input type="text" name="question_3" />
    </div>
    <div class="form-group">
        <label>We need (some/any) fruit.:</label> <br />
        <input type="text" name="question_4" />
    </div>
    <div class="form-group">
        <label>You can’t buy (some/any) cornflakes in this shop.:</label> <br />
        <input type="text" name="question_5" />
    </div>
    <input type="submit" value="Submit" />
</form>

{% endblock %}