{% extends 'exercises/gerund/gerund.html' %}
{% block 'form' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="B2/" method="post">
    {% csrf_token %}
    
    Which preposition has to be used in the gap so that a Gerund can follow?
    <div class="form-group">
        <label>Username:</label> <br />
        <input type="text" name="username" />
    </div>
    <div class="form-group">
        <label>be bad <input type="text" name="question_1" /> + Gerund</label> <br />
    </div>
    <!-- at -->
    <div class="form-group">
        <label>danger <input type="text" name="question_2" /> + Gerund</label> <br />
    </div>
    <!-- of -->
    <div class="form-group">
        <label>be crazy <input type="text" name="question_3" />+ Gerund</label> <br />
    </div>
    <!-- about -->
    <div class="form-group">
        <label>be ashamed <input type="text" name="question_4" /> + Gerund</label> <br />
    </div>
    <!-- of -->
    <div class="form-group">
        <label>succeed <input type="text" name="question_5" /> + Gerund</label> <br />
    </div>
    <!-- in -->
    <input type="submit" value="Submit" />
</form>

{% endblock %}