{% extends 'exercises/verbs/verbs.html' %}
{% block 'form' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="C1/" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label>Username:</label> <br />
        <input type="text" name="username" />
    </div>
    <div class="form-group">
        <label>go -></label>
        <input type="text" name="question_1" />
        <label>-> gone</label>
    </div>
    <div class="form-group">
        <label>say -></label>
        <input type="text" name="question_2" />
        <label>-> said</label>
    </div>
    <div class="form-group">
        <label>do -></label>
        <input type="text" name="question_3" />
        <label>-> done</label>
    </div>
    <div class="form-group">
        <label>come -></label>
        <input type="text" name="question_4" />
        <label>-> came</label>
    </div>
    <div class="form-group">
        <label>have -></label>
        <input type="text" name="question_5" />
        <label>-> had</label>
    </div>
    <input type="submit" value="Submit" />
</form>

{% endblock %}